$default-font-weight: 100;
$default-font-size: 16;

@function px2em($size-in-px, $base-size:$default-font-size) {
  @return ($size-in-px/$base-size) + em;
}
@function px2rem($size-in-px) {
  @return ($size-in-px/$default-font-size) + rem;
}

@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
    -ms-border-radius: $radius;
        border-radius: $radius;
}
