html, body {
   margin: 0;
   padding: 0;
   height:100%;
   font-size:100%;
   color:#666;
   font-family: 'Open Sans', sans-serif;
   background-color: white;
}

@font-face {
    font-family: 'Angelina';
    src: url('../fonts/angelina.TTF');
}
$angelina: 'Angelina', cursive, Arial, serif;


$screen-sm:768px;
$screen-md:992px;
$screen-lg:1200px;
